.cascading-dropdown-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;

    .dropdown {
        padding: 10px;

        label {
            display: none;
        }

        select {
            color: #6c757e;
            outline: none;
            border: none;
            padding-right: 40px;
            padding-left: 40px;
            -webkit-appearance: none;
            -moz-appearance: none;
            background: url('../../../../assets/Select_Down_Arrow.png') 92% / 19px no-repeat;
            font-size: 16px;
            &:disabled {
                cursor: not-allowed;
                opacity: 0.7;

            }

            option {
                padding: 0.5rem;
            }
        }
        .right-left-border{
            border-right: 3px solid #6c757e;
            border-left: 3px solid #6c757e;
        }
    }
}