.about-us-container {
  font-family: 'Inter', sans-serif;
  color: #1a1a1a;
  padding: 40px;
  background-color: #F6F9FF;
}

/* Top Section */
.top-section {
  display: flex;
  gap: 40px;
  width: 1180px;
  margin: 0 auto 50px;
}

.image-column {
  display: flex;
  gap: 30px;
}

.video-card1 img {
  width: 280px;
  height: 350px;
  border-radius: 12px;
  object-fit: cover;
}

.video-card img:first-of-type {
  width: 280px;
  height: 350px;
  border-radius: 12px;
  object-fit: cover;
  margin-top: 40px;
}

.icon {
  width: 30px;
  height: 30px;
  object-fit: cover;
  position: relative;
  top: -134px;
  left: -159px;
}

.video-card {
  position: relative;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 10px;
}

.content-column {
  max-width: 500px;
}

.section-title {
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  color: #195AFF;
  margin-bottom: 10px;
}

.section-title img {
  width: 12px;
  height: 12px;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}

p {
  font-size: 16px;
  color: #555;
}

.vision-row {
  display: flex;
  gap: 30px;
  margin-top: 15px;
}

.vision-card h4 {
  font-size: 18px;
  margin-bottom: 8px;
}

.appointment-btn {
  background-color: #FFA250;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
}

.section-title-orange {
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  color: #FFA250;
  margin-bottom: 20px;
}

.bottom-section {
  display: flex;
  background-color: #f5f6fa;
  border-radius: 12px;
  padding: 30px;
  gap: 40px;
  background-image: url("src/assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 1180px;
  margin: 0 auto 50px;
}

.bottom-content {
  flex: 1;
}

.bottom-content h3 {
  font-size: 24px;
  margin-bottom: 15px;
  max-width: 400px;
  color: #FFFFFF;
  line-height: 35px;
}

.bottom-content p {
  font-size: 16px;
  color: #FFFFFF;
  max-width: 300px;
  line-height: 20px;
  margin-bottom: 25px;
}

.logo-row {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.logo {
  background: #e0e0e0;
  padding: 10px 20px;
  border-radius: 6px;
}

.bottom-image img {
  width: 400px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.vision-container {
  height: 48px;
  border-radius: 24px;
  width: 48px;
  background-color: #e7edff;
  margin-bottom: 15px;
}

.vision-container img {
  width: 20px;
  position: relative;
  top: 14px;
  left: 13px;
  height: 20px;
  object-fit: contain;
}

.section-title-orange img {
  width: 15px;
  height: 13px;
  padding-top: 2px;
  margin-right: 2px;
}