.hpcarousel-container {
    font-family: var(--frubikont-);
    --hp-top-offset: 124px;
    width: 100vw;
    box-sizing: border-box;
    padding-top: var(--hp-top-offset);

    .hpcarousel-bg {
        width: 100%;
        position: relative;
        overflow: hidden;

        .hpcarousel-video,
        .hpcarousel-image {
            width: 100%;
            aspect-ratio: 1200/500;
            object-fit: cover;
            object-position: center;
        }

        .hp-background-children {
            width: 10%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;

            .hpcarousel-controls {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                .hpcarousel-button-list {
                    width: -webkit-fill-available;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 22px;

                    >div {
                        width: 25px;
                        height: 25px;
                        background-color: #ce9090f2;
                        border-radius: 50%;
                        cursor: pointer;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        >button {
                            cursor: pointer;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 20px;
                            letter-spacing: 0.2px;
                            outline: none;
                            border: none;
                            background: transparent;
                        }

                    }

                    .active {
                        background-color: orangered;
                    }
                }
            }
        }
    }

}

