.cardCarousel-container {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .cardCarousel-viewport {
        width: 940px;
        display: flex;
        align-items: center;
        justify-content: center;

        .cardCarousel-track {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;


            .cardCarousel-item {
                width: 210px;
                height: 280px;
                cursor: pointer;

                .card-image {
                    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.676);
                    width: 100%;
                    height: 150px;
                    object-fit: cover;
                }

                .card-body {
                    padding: 10px 0;
                    text-align: center;

                    .card-title {
                        height: 18px;
                        font-size: 18px;
                        font-weight: 600;
                        margin: 5px 0;
                    }

                    .card-sub {
                        height: 14px;
                        font-size: 14px;
                        color: #555;
                        margin: 5px 0;
                    }

                    .rating-container {
                        margin-top: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }

    .cardCarousel-btn {
        background-color: transparent;
        border: none;
        font-size: 30px;
        cursor: pointer;
        width: 25px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}