.specialist-section {
    width: 100%;
    padding-top: 99px;
    background-image: url(../../../../assets/Texture_Background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .section-heading {
        &::before {
            content: "";
            display: block;
            width: 50px;
            height: 4px;
            background-image: linear-gradient(to right, #da5539, #e3623d, #eb6f41, #f37c45, #fb894a);
            margin: 0 auto 10px auto;
        }

        &::after {
            content: "";
            display: block;
            width: 50px;
            height: 4px;
            background-image: linear-gradient(to right, #da5539, #e3623d, #eb6f41, #f37c45, #fb894a);
            margin: 10px auto 0 auto;
        }

        .main-heading {
            font-size: 32px;
            font-weight: 600;
            color: #116db8;
            text-align: center;
            margin-bottom: 10px;
        }

        .sub-heading {
            font-size: 18px;
            color: #6c757e;
            text-align: center;
            margin-bottom: 30px;
        }
    }

    .section-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        margin-top: 20px;
        padding: 0 20px;
    }
}