.doc-card-container {
    display: flex;
    align-items: center;
    width: 1107px;
    height: 286px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    font-family: "Plus Jakarta Sans", sans-serif;
    border: 1px solid #065ca9;
    border-radius: 15px;
    background: #fff;
    transition: .3s;
    overflow: hidden;

    &::after {
        content: "";
        width: 20px;
        height: 100%;
        right: 0;
        background-image: linear-gradient(to bottom, #1f407a, #2b5792, #386fa9, #4788c1, #57a1d8);
        border-radius: 0 15px 15px 0;
    }

    &:hover {
        &::after {
            background-image: linear-gradient(to top, #1f407a, #2b5792, #386fa9, #4788c1, #57a1d8);
        }

        .left {
            .location {
                background-image: linear-gradient(to right, #0285c9, #1670b0, #1b5d97, #1b4a7f, #183867);
            }
        }

    }

    .left {
        width: 276px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .location {
            height: 50px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            background-image: linear-gradient(to left, #0285c9, #1670b0, #1b5d97, #1b4a7f, #183867);
            font-size: 16px;
            font-weight: 600;


        }

        .doc-img {
            width: 100%;
            height: 235px;

            img {
                border-radius: 0 0 0 15px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .right {
        padding: 20px;
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 35px;

        .doc-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;

            .doc-name {
                font-size: 20px;
                font-weight: 600;
                color: #116db8;
                margin-bottom: 10px;
            }

            .doc-speciality {
                font-size: 16px;
                color: #6c757e;
                margin-bottom: 10px;
            }

            .doc-designation {
                font-size: 16px;
                color: #6c757e;
                margin-bottom: 10px;
            }

            .doc-experience {
                font-size: 14px;
                color: #a6b4c2;
                margin-bottom: 10px;
            }
        }

        .doc-contact {
            margin-top: auto;
            display: flex;
            gap: 20px;

            .appointment-btn {
                text-decoration: none;
                padding: 10px 20px;
                background-image: linear-gradient(to right, #da5539, #e3623d, #eb6f41, #f37c45, #fb894a);
                color: #fff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-size: 16px;
                font-weight: 600;
                transition: background-image 0.3s;

                &:hover {
                    background-image: linear-gradient(to right, #fb894a, #f37c45, #eb6f41, #e3623d, #da5539);
                }
            }

            .view-profile-btn {
                text-decoration: none;
                padding: 10px 20px;
                background: #fff;
                color: #116db8;
                border: 2px solid #116db8;
                border-radius: 5px;
                cursor: pointer;
                font-size: 16px;
                font-weight: 600;
                transition: background 0.3s, color 0.3s;

                &:hover {
                    background: #116db8;
                    color: #fff;
                }
            }
        }
    }
}