// .header {
//     z-index: 1000;
//     height: 124px;
//     width: 100dvw;
//     background-color: rgb(255, 255, 255);
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     position: fixed;
//     top: 0;
//     padding-inline: 15px;

//     .header-logo {
//         width: 300px;
//         height: 100px;
//         display: flex;
//         align-items: center;
//         justify-content: center;

//         img {
//             width: 100%;
//             height: 100%;
//             object-fit: contain;
//         }
//     }

//     .header-menu {
//         width: 800px;
//         height: 100px;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         gap: 10px;

//         .sub-menu {
//             margin: 0;
//             padding: 0;
//             padding-bottom: 5px;
//             width: 100%;
//             height: 44px;
//             box-sizing: border-box;
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//             list-style: none;
//             overflow: visible;

//             .tabNone {
//                 padding-inline: 5px;
//                 width: 146px;
//                 height: 32px;
//                 cursor: pointer;
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 background: transparent;
//                 border: 1px solid #1b5d97;
//                 border-radius: 10px;

//                 a {
//                     text-decoration: none;
//                     color: #1b5d97;

//                     span {
//                         color: #1b5d97;
//                         display: flex;
//                         align-items: center;
//                         justify-content: center;
//                         font-size: small;
//                     }
//                 }
//             }

//             .emergency-Dropdown {
//                 z-index: 9;
//                 position: relative;
//                 padding: 5px;
//                 border-radius: 10px;
//                 border: 1px solid rgb(255, 68, 0);

//                 a {
//                     div {
//                         width: 140px;
//                         display: flex;
//                         align-items: center;
//                         justify-content: center;
//                         gap: 5px;

//                         p {
//                             margin: 0;
//                             font-size: 14px;
//                             font-weight: 600;
//                         }
//                     }

//                 }
//             }

//             .emergency-Dropdown:hover {

//                 .ambulanceDropdownMenu {
//                     display: block;
//                     visibility: visible;
//                 }

//             }

//             .bgblue {
//                 width: 180px;
//                 background-color: #1b5d97;
//                 color: aliceblue;
//                 border-radius: 10px;

//                 a {
//                     text-decoration: none;
//                     color: #f5f5f5;

//                     span {
//                         color: #f5f5f5;
//                     }
//                 }
//             }

//             .ambulanceDropdownMenu {
//                 background-color: #f5f5f5;
//                 visibility: hidden;
//                 z-index: 9;
//                 position: absolute;
//                 top: 40px;
//                 right: 1px;
//                 width: 280px;
//                 padding: 22px;
//                 list-style: none;
//                 border: 2px solid black;
//                 transition: visibility 0.5s ease-in-out;

//                 li {
//                     width: 100%;
//                     margin-bottom: 10px;

//                     a {
//                         width: 100%;
//                         text-decoration: none;
//                         color: #000000;

//                         div {
//                             width: 100%;

//                             div {
//                                 display: flex;
//                                 justify-content: flex-start;
//                                 align-items: center;
//                                 width: 49%;
//                             }
//                         }
//                     }
//                 }
//             }
//         }

//     }

//     .MainMenu {

//         display: block;
//         width: 100%;

//         .menu {
//             padding: 0;
//             width: 100%;
//             display: flex;
//             justify-content: space-between;
//             list-style: none;

//             li {
//                 position: relative;

//                 a {
//                     text-decoration: none;
//                     color: #000000;
//                 }

//                 .single-column-menu {
//                     background-color: #f5f5f5;
//                     max-height: 480px;
//                     position: absolute;
//                     min-width: 150px;
//                     border: 1px solid black;
//                     top: 25px;
//                     overflow-y: scroll;
//                     -ms-overflow-style: none;
//                     scrollbar-width: none;


//                     ul {
//                         padding: 0;
//                         width: 100%;
//                         list-style: none;

//                         li {
//                             padding: 10px;
//                             border-bottom: 1px solid black;
//                         }

//                         li:hover {
//                             background-color: #f5f5f5;
//                         }
//                     }

//                 }

//                 .specilityMenu {
//                     width: 700px;
//                     right: 50%;
//                     transform: translateX(50%);

//                     div {
//                         display: flex;
//                         align-items: start;
//                         justify-content: space-evenly;

//                         div {
//                             display: flex;
//                             align-items: start;
//                             justify-content: center;
//                             flex-direction: column;

//                             h4 {
//                                 align-items: center;
//                                 display: flex;
//                                 min-height: 65px;
//                                 padding: 5px;
//                                 margin: 0;
//                             }
//                         }
//                     }
//                 }

//                 .rightPositionNav {
//                     right: 0px;
//                 }
//             }

//             li:hover {
//                 .single-column-menu {
//                     display: block !important;
//                 }

//             }
//         }
//     }
// }


.header {
  background-color: #f9f9f9;
  width: 100%;
  padding: 16px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 999;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    height: 90px;
    width: auto;
    object-fit: contain;
  }
}

.header-right {
    width: 60%;
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
  gap: 24px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 40px;

  a {
    text-decoration: none;
    color: #0e1a2a;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    transition: color 0.3s ease;
    color: #002953;
    // font-family: rubik, sans-serif;
    // &:hover {
    //   color: ;
    // }
  }
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 16px;

  a {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    padding: 8px 18px;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-size: 15px;
  }

  .find-btn {
    color: #1b5d97;
    border: 1.5px solid #1b5d97;
    background-color: transparent;

    &:hover {
      background-color: #1b5d97;
      color: #fff;
    }
  }

  .book-btn {
    color: #fff;
    background-color: #1b5d97;
    border: none;

    &:hover {
      background-color: #164a7e;
    }
  }
}
