.specialist-card {
    width: 204px;
    height: 400px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;

    .specialist-card-img {
        width: 100%;
        border-radius: 15px;
        height: 340px;
        object-fit: cover;
    }

    .specialist-name {
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        color: #0D1A42;
    }

    .specialist-profession {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: #4E5C80;
    }
}