.opportunity-section {
    background-color: #f0f8ff;
    padding: 32px 90px;
    border-radius: 8px;

    .section-heading {
        font-size: 32px;
        margin-bottom: 16px;
        text-align: center;
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;

        .opportunity-card {
            display: flex;
            flex-direction: row;
            gap: 10px;
            background-color: #ffffff;
            border: 1px solid #d0d0d0;
            border-radius: 8px;
            padding: 10px;
            width: 470px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

            .card-img {
                width: 194px;
                height: 200px;
                object-fit: cover;
                border-radius: 4px;
                margin-bottom: 10px;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 4px;
                }
            }

            .card-body {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-evenly;

                .card-body-content {

                    .card-title {
                        font-size: 1.5rem;
                        margin-bottom: 10px;
                    }

                    .card-description {
                        font-size: 1rem;
                        line-height: 1.5;
                    }
                }

                .cta {
                    padding-bottom: 32px;

                    a {
                        text-decoration: none;
                        color: #007bff;
                        font-weight: 600;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}