.findDoctor {
    width: 100%;
    padding: 10px 20px;
    padding-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;


    .heading {
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #404040;
    }

    >form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .input-group {
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: center;

            .form-group {
                width: 268px;

                >input {
                    width: 100%;
                    padding: 18px 20px;
                    border: 1px solid #DEDEDE;
                    border-radius: 30px;
                    font-size: 14px;
                    outline: none;
                    background-color: #F6F9FF;

                    &:focus {
                        border-color: #007bff;
                        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
                    }
                }

                #doctor-speciality {
                    position: relative;
                    width: 100%;
                    padding: 18px 20px;
                    border: 1px solid #DEDEDE;
                    border-radius: 30px;
                    font-size: 14px;
                    outline: none;
                    background-color: #F6F9FF;

                    >option {
                        background-color: #F6F9FF;
                        outline: none;
                    }

                    &:focus {
                        border-color: #007bff;
                        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
                    }
                }
            }

            .toggle-container {
                display: flex;
                align-items: center;
                gap: 10px;

                .label {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 22px;
                    letter-spacing: 0%;

                }

                .switch {
                    width: 40px;
                    height: 20px;
                    border-radius: 30px;
                    background-color: #ccc;
                    position: relative;
                    cursor: pointer;
                    transition: background-color 0.3s ease;

                    .circle {
                        width: 14px;
                        height: 14px;
                        background-color: #fff;
                        border-radius: 50%;
                        position: absolute;
                        top: 3px;
                        left: 3px;
                        transition: left 0.3s ease;
                    }
                }

                .switch.on {
                    background-color: #007bff;
                }


                .switch.on .circle {
                    left: 24px;
                }
            }

        }

        .btn {
            width: 166px;
            padding: 12px 24px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 30px;
            font-size: 14px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #0056b3;
            }
        }

    }
}