 .nav-top-container {
     width: 100%;
     height: auto;
     padding: 10px 66px;
     background-color: #031E2D;
     display: flex;
     justify-content: center;
     align-items: center;
     box-sizing: border-box;
     font-family: 'Roboto', sans-serif;

     .nav-top {
         width: 1140px;
         height: auto;
         display: flex;
         justify-content: space-between;
         align-items: center;
         color: #FAFAFA;

         .nav-top-offer {
             display: flex;
             align-items: center;
             gap: 5px;

             .offer-logo {
                 width: 15px;
                 height: 15px;

                 >img {
                     width: 100%;
                     height: 100%;
                 }
             }

             .offer {
                 font-weight: 400;
                 font-size: 14px;
                 line-height: 18px;
                 letter-spacing: 0;
             }
         }

         .nav-top-contact-details {
             display: flex;
             align-items: center;
             gap: 40px;

             .location {
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 gap: 5px;

                 .loclogo {
                     width: 15px;
                     height: 15px;

                     >img {
                         width: 100%;
                         height: 100%;
                     }
                 }

                 .location-text {
                     font-weight: 400;
                     font-size: 14px;
                     line-height: 18px;
                     letter-spacing: 0;
                 }
             }

             .email {
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 gap: 5px;

                 .emaillogo {
                     width: 15px;
                     height: 15px;

                     >img {
                         width: 100%;
                         height: 100%;
                     }
                 }

                 .email-text {
                     font-weight: 400;
                     font-size: 14px;
                     line-height: 18px;
                     letter-spacing: 0;
                 }
             }

             .mobile-number {
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 gap: 5px;

                 .mobilelogo {
                     width: 15px;
                     height: 15px;

                     >img {
                         width: 100%;
                         height: 100%;
                     }
                 }

                 .mobile-text {
                     font-weight: 400;
                     font-size: 14px;
                     line-height: 18px;
                     letter-spacing: 0;
                 }
             }
         }

     }
 }