.ExcCardCarousel-item {
    width: 210px;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #55555529;

    .img {
        width: 140px;
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: radial-gradient(circle, #0285c9, #1670b0, #1b5d97, #1b4a7f, #183867);
        border-radius: 50%;

        .card-image {
            width: 40px;
            height: 40px;
            object-fit: cover;
        }
    }

    .card-body {
        display: flex;
        justify-content: center;
        align-items: center;
        color: grey;

        >p {
            font-size: 16px;
            font-weight: 300;
            line-height: 16px;
            padding: 0 10px;
            text-align: center;
        }
    }
}