.second-carousel {
    padding-top: 50px;
    background-image: url(../../../assets/Texture_Background.png);

    .headings {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .heading {
            color: #225398;
            font-size: 28px;

        }

        .sub-heading {
            color: #727270;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 10px;
        }
    }

    .headings::after {
        content: "";
        width: 60px;
        height: 4px;
        background-color: #ef3b2d;
        margin-top: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .headings::before {
        content: "";
        width: 60px;
        height: 4px;
        background-color: #ef3b2d;
        margin-bottom: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .btn {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        >a {
            background-color: #ef3b2d;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            color: white;
            text-decoration: none;
        }
    }
}