.hero-banner {
    background-color: #f5f5f5;
    padding-top: 100px;
    text-align: center;
    position: relative;

    .hero-banner-image {
        width: 100%;
        height: 400px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 1200/550;
        }
    }

    .hero-banner-text {
        font-family: Plus Jakarta Sans;
        width: 800px;
        font-size: 44px;
        font-weight: 700;
        line-height: 64px;
        text-align: left;
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: #fff;
        padding: 10px 150px;
    }
}