.aboutus-comp3-container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //   margin-top: 40px;
  background: url(https://www.parkhospital.in/public/frontend/img2/Texture_Background.png) #fefefe;
}

.video-block {

  gap: 24px;
  margin-bottom: 40px;
  background-color: #275baa;
  //    padding: 0 52px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


}

.aboutus-comp3-container_inner {
  padding: 0 52px;
  width: 1280px;
  height: 544px;
  gap: 24px;
  margin-bottom: 40px;
  background-color: #275baa;
  //   padding: 32px;
  margin: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fixedtext {
  // margin: 32px;
  color: #fefefe;
  font-size: 16px;
  line-height: 20px;
  word-wrap: break-word
}

.aboutus-video {

  width: 586px;
  height: 330px;
  border-radius: 12px;
  //   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.video-description {
  margin-top: 12px;
  color: white;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 800px;
  margin-inline: auto;
}

.error-text {
  color: #ef3b2d;
  text-align: center;
  font-weight: 500;
}

.loading-text {
  text-align: center;
  color: #444;
}

.no-video-text {
  color: #666;
  font-style: italic;
}