.third-carousel {
    margin-top: 50px;

    .headings {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .heading {
            color: #225398;
            font-size: 24px;
        }

        .sub-heading {
            color: #727270;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 10px;
        }
    }

    .sub-heading-section {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;

        p {
            color: #727270;
            font-size: 16px;
            margin-bottom: 10px;
        }

        h3 {
            color: #225398;
            font-size: 18px;
            cursor: pointer;
        }
    }

    .headings::after {
        content: "";
        width: 60px;
        height: 4px;
        background-color: red;
        margin-top: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .headings::before {
        content: "";
        width: 60px;
        height: 4px;
        background-color: red;
        margin-bottom: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .btn {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        >a {
            background-color: red;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            color: white;
            text-decoration: none;
        }
    }

    .main-content {
        width: 100%;
        height: 600px;
        display: flex;
        justify-content: center;
        gap: 20px;
        background-image: url(https://www.parkhospital.in/public/frontend/img2/background_counter.webp);

        #counter {
            width: 280px;
            padding-top: 70px;
            display: flex;

            ul {
                list-style: none;
                padding: 4px;
                width: 100%;

                li {
                    background-color: #fd7d1491;
                    color: white;
                    .countBox {
                        padding: 25px 20px;
                        display: flex;
                        gap: 5px;
                        flex-direction: column;
                        .counter-value {
                            font-weight: 600;
                            font-size: 26px;
                            margin-bottom: 4px;
                        }

                        >p {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}