.footer {
  background: linear-gradient(#000C2C, #000C2C);
  color: #FAFAFA;
  height: 400px;
  width: -webkit-fill-available;
  padding: 60px;
  font-family: 'Mulish';

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 280px;
  }

  &__brand {
    max-width: 40%;

    .footer__logo {
      width: 80px;
      margin-bottom: 20px;
    }

    h1 {
      font-size: 34px;
      font-weight: 600;
      margin-bottom: 10px;
      color: #FAFAFA;
    }

    p {
      font-size: 14px;
      margin-bottom: 20px;
      margin-top: 10px;
      color: #FAFAFA;
    }

    .footer__buttons {
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
      width: max-content;
      padding-top: 35px;

      .btn {
        background: #195AFF;
        color: #fff;
        border: none;
        border-radius: 25px;
        padding: 10px 20px;
        font-size: 14px;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
          background: #004ecc;
        }
      }

      img {
        height: 11px;
        margin-right: 4px;
      }
    }
  }

  &__links {
    display: flex;
    gap: 70px;
    padding-right: 100px;

    .footer__column {
      h4 {
        font-size: 16px;
        line-height: 18px;
        color: #FFA250;
        font-weight: 700;
        margin-bottom: 10px;
        border-bottom: 1px solid #444;
        padding-bottom: 10px;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          font-size: 14px;
          margin-bottom: 15px;
          color: #FAFAFA;
          cursor: pointer;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }

  &__bottom {
    border-top: 1px solid #333;
    height: 58px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #FAFAFA;

    .footer__social {
      width: 200px;
    }

    .footer__social img {
      margin-right: 15px;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        color: #fff;
      }
    }

    .footer__policies span {
      margin-right: 20px;
      cursor: pointer;

      &:hover {
        color: #fff;
      }
    }

    .footer__copyright {
      font-weight: 500;
      margin-left: 420px;
    }
  }
}