.footer {
  background: #275aaa; 
  color: #ffffff; 
  padding: 40px 0;
  font-family: "Rubik", sans-serif;
  border-top: 2px solid #FF5500; 
  border-radius: 0;
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
  }

  .footer-grid {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
  }

  .footer-column {
    flex: 1;
    min-width: 180px;

    h4 {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 15px;
      color: #ffffff;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 8px;
        position: relative;

        a {
          text-decoration: none;
          color: #ffffff;
          font-size: 14px;
          position: relative;
          display: inline-block;
          padding-bottom: 2px;
          transition: color 0.3s ease;

        
          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background: #FF5500; 
            transition: width 0.3s ease;
          }

          &:hover {
            color: #ffffff;
          }

          &:hover::after {
            width: 100%; 
          }
        }
      }
    }
  }

  @media (max-width: 992px) {
    .footer-grid {
      flex-wrap: wrap;
      gap: 30px;
    }

    .footer-column {
      flex: 1 1 45%;
    }
  }

  @media (max-width: 600px) {
    .footer-grid {
      flex-direction: column;
      align-items: start;
      gap: 20px;
    }

    .footer-column {
      width: 100%;
    }
  }
}
