.innerBanner {
    padding-top: 100px;
    width: 100%;
    height: 493px;
    transition: .3s;

    img {
        width: 100%;
    }
}

.innerBanner .comHeading {
    position: absolute;
    top: 32%;
    left: 12%;
}